<link rel="import" href="flot-pie.html">
<link rel="import" href="../gk-ext/gk-google-sheets.html">

<element name='google-sheets-chart-pie'>

  <template>
    <div id="{{id}}">
      <div id="{{id}}_chartpie" class='{{class}}' style='{{style}}' width='{{width}}' height='{{height}}' radius='{{radius}}' labelRadius='{{labelRadius}}' showLegend='{{showLegend}}' is='flot-pie'>
        <content></content>
      </div>
      <gk-google-sheets id="{{id}}_sheet" key="{{key}}" headers="{{headers}}" gid="{{gid}}" range="{{range}}" query="{{query}}"></gk-google-sheets>
    </div>
  </template>

  <script>
  var utils = require('../gk-ext/js/utils'),
    properties = ['key', 'headers', 'gid', 'range', 'query'];

  function convertSheetData(table) {
    var cellVal = function(cell) {
      return cell ? ('f' in cell ? cell.f : cell.v) : "";
    };
    return $.map(table.rows, function(row) {
      var c1 = row.c[0],
        o = {
          label: cellVal(c1),
          data: [
            []
          ]
        };
      row.c.forEach(function(cell, idx) {
        o.data[0].push(cellVal(cell));
      });
      return o;
    });
  }

  registerElement('google-sheets-chart-pie', {

    init: function() {
      var self = this,
        $ele = self.$ele,
        $chartpie = $ele.find('#' + self.id + '_chartpie'),
        $sheet = $ele.find('#' + self.id + '_sheet');

      utils.exposeProperties(properties, self,
        function(attr) {
          return $sheet.gk()[attr];
        },
        function(attr, val) {
          $sheet.gk()[attr] = val;
        }
      );

      $sheet.on('data', function(e, table) {
        $chartpie.gk('render', convertSheetData(table));
      });
    },

    refresh: function() {
      this.$ele.find('#' + this.id + '_sheet').gk('refresh');
    }

  });
  </script>

</element>
